*$py.class
build/
develop-eggs/
dist/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.ipynb_checkpoints/
.installed.cfg
lib/
lib64/
*.manifest
MANIFEST
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
__pycache__/
*.py[cod]
.pytest_cache/
.Python
.python-version
sdist/
share/python-wheels/
*.spec
target/
test/
var/
wheels/